%center
  %h1 Listing products

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Description
      %th Image url
      %th Price
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.title
        %td= truncate(product.description, length: 75)
        %td= product.image_url
        %td= product.price
        %td
          = link_to 'Show', product
          %br/
          = link_to 'Edit', edit_product_path(product)
          %br/
          = link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
